@model IEnumerable<GuestTours.Models.TourTranslated>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


	<div class="top-photo">
		<h1 class="top-photo-h1">Tours In Georgia</h1>
	</div> <!-- top-photo -->

	<div class="container">
		<ol class="breadcrumb">
		  <li><a href="index.html">Home</a></li>
		  <li class="active">All Tours</li>
		</ol>
	</div> <!-- container -->

	<div class="container">
		<div class="row">

			<div class="col-sm-4">
				<nav class="left-bar-nav">
					<h2 class="left-side-h2">Our Tours</h2>
					<ul class="left-side-ul">
                    @foreach(var item in ViewBag.Category)
                    {
                        <li><a href="@Url.Action("Index","Tours",new { by=item.Name})" class="left-side-ul-li-a">@item.Name</a></li>
                    }
						
						
					</ul> <!-- left-side-ul -->
				</nav> <!-- left-bar-nav -->
			</div> <!-- col-sm-4 -->

			<div class="col-sm-8">
				<div class="row">
					<div class="col-sm-12">

                    @foreach (var item in Model)
                    {
						<div class="category-box">
							<div class="category-box-img-wrapper">
								<img src="@item.Tour.Photo" class="category-box-img">
							</div> <!-- category-box-img-wrapper -->

							<div class="category-box-content-wrapper">
								<div class="category-box-top-content-wrapper">
									<h2 class="category-box-h2">@item.Title</h2>
									<span class="category-box-span">@item.Tour.TourDate<span class="price-color">@item.Tour.Price GEL</span></span>
								</div> <!-- category-box-top-content-wrapper -->
								

														
								<p class="category-box-p">@item.Text</p>
								

								<a href="@Url.Action("Details","Tours",new { id=item.TourID,Tour=item.Title})" class="category-box-a">Details</a>
							</div> <!-- category-box-content-wrapper -->
						</div> <!-- category-box -->
                    }


					</div> <!-- col-sm-12 -->
				</div> <!-- row -->
			</div> <!-- col-sm-8 -->

		</div> <!-- row -->
	</div> <!-- container -->

